@font-face {
    font-family: HouseMD;
    src: url(../fonts/HouseMD.ttf);
}

body {
    padding-top: 70px;
}


/*---------------------------Расположение сетки в стиле кладки---------------*/

#tiles {
    -webkit-column-count: 5;
    -webkit-column-gap: 6px;
    -moz-column-count: 5;
    -moz-column-gap: 6px;
    column-count: 5;
    column-gap: 6px;
    text-align: justify;
}

#tiles li {
    width: 100%;
    margin-bottom: 3px;
    background-color: #ffffff;
    border: 1px solid #dedede;
    border-radius: 4px;
    padding: 4px;
    overflow: hidden;
}

#tiles li a img,
#tiles li a {
    width: inherit;
}

#tiles li a span {
    display: block;
}


/*--------------------------------------------------------------*/


/*-------------------эффекты галереи-----------------------------*/

.tz-gallery>ul>li {
    display: inline-block;
    list-style: outside none none;
}

.tz-gallery>ul>li a {
    display: block;
    overflow: hidden;
    position: relative;
    float: left;
}

.tz-gallery>ul>li a>img {
    -webkit-transition: -webkit-transform 0.15s ease 0s;
    -moz-transition: -moz-transform 0.15s ease 0s;
    -o-transition: -o-transform 0.15s ease 0s;
    transition: transform 0.15s ease 0s;
    -webkit-transform: scale3d(1, 1, 1);
    /* Saf3.1+, Chrome */
    -moz-transform: scale3d(1, 1, 1);
    /* FF3.5+ */
    -ms-transform: scale3d(1, 1, 1);
    /* IE9 */
    -o-transform: scale3d(1, 1, 1);
    /* Opera 10.5 */
    transform: scale3d(1, 1, 1);
    height: 100%;
    width: 100%;
}

.tz-gallery>ul>li a:hover>img {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    /* Saf3.1+, Chrome */
    -moz-transform: scale3d(1.1, 1.1, 1.1);
    /* FF3.5+ */
    -ms-transform: scale3d(1.1, 1.1, 1.1);
    /* IE9 */
    -o-transform: scale3d(1.1, 1.1, 1.1);
    /* Opera 10.5 */
    transform: scale3d(1.1, 1.1, 1.1);
}

.tz-gallery .lightbox:before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -13px;
    margin-left: -13px;
    opacity: 0;
    color: #fff;
    font-size: 26px;
    font-family: 'Glyphicons Halflings';
    content: '\e003';
    pointer-events: none;
    z-index: 9000;
    transition: 0.4s;
}

.tz-gallery .lightbox:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(46, 132, 206, 0.7);
    content: '';
    transition: 0.4s;
}

.tz-gallery .lightbox:hover:after,
.tz-gallery .lightbox:hover:before {
    opacity: 1;
}


/*--------------Кнопка закрыть выбранной фото------------------*/

.modal-header {
    padding: 0px;
    border-bottom: none;
}

.modal-title {
    display: none;
}

button.close {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #000;
    opacity: 1;
    color: #fff;
    z-index: 999;
    right: -20px;
    top: -20px;
    border-radius: 50%;
    font-size: 30px;
    font-weight: lighter;
    text-shadow: none;
    border: 2px solid #fff;
    line-height: 25px;
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.35);
}

button.close:focus,
button.close:hover {
    color: #777;
    outline: none;
}


/* =Responsive Sidebar Grid
  -------------------------------------------------------------- 

.sidebar-right {
    float: right !important;
    margin-bottom: 2.083%;
    padding-top: 0;
    margin-left: 0 !important;
    margin-right: 2.564102564102564% !important;
}

.content-right {
    float: right !important;
    margin-bottom: 2.083%;
    padding-top: 0;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

img {
    height: auto;
    max-width: 100%;
}
*/


/* =Links
  -------------------------------------------------------------- */

a {
    color: #524D4D;
    font-weight: 400;
    text-decoration: none;
}

a:hover {
    color: #8C7E7E;
    text-decoration: underline;
}